---
import Section from '@components/Section.astro';
import heroImage from '@assets/Edit_08.webp';
---

<Section title="hero" classes="">
	<img src={heroImage.src} alt={`imagen para la seccion hero`} />
</Section>
