---
import Section from '@components/Section.astro';
---

<Section classes="bg-primary text-center text-balance text-white py-12 px-8">
	<h3 class="py-8 font-inherit text-xl font-bold sm:text-[2.5vw]">
		¡Te doy la bienvenida a mi universo de celebraciones!
	</h3>
	<p class="py-2 text-base font-normal italic md:text-lg">
		Durante mi trayectoria me he dedicado con esmero a crear la <br class="hidden xl:block" /> atmósfera
		y la planificación perfecta para eventos memorables.
	</p>
	<p class="py-2 text-base font-normal italic md:text-lg">
		¡Me enorgullece poner mi conocimiento y experiencia en la producción <br /> de eventos al servicio
		de tus momentos más especiales!
	</p>
</Section>
